<li id="post-<%= post._id %>">
    <p class="user">
        <%= post.user.name %>
    </p>
    <%= post.content %>
    <% if(locals.user && locals.user.id == post.user.id) {%>
        <small id="delete-post">
            <a class="delete-post-button" href="/posts/destroy/<%= post.id %>">Delete Post</a>
        </small>
    <% } %>
    <hr>
    <div class="post-comments">
        <% if(locals.user) { %>
            <form action="/comments/create" method="POST">
                <input id="comment-input" type="text" name="content" placeholder="Write a comment...."
                    required>
                <input type="hidden" name="post" value="<%= post._id %>">
            </form>
        <% } %>
        <div class="post-comments-list">
            <ul id="post-comments-<%= post._id %>%">
                <% for (comment of post.comments) { %>
                    <%- include('_comment') -%>    
                <% } %>
            </ul>
        </div>
    </div>
</li>