<link rel="stylesheet" href="/css/home.css">
<section id="feed-posts">
    <% if(locals.user) { %>
        <h1 id="heading">Create a new post</h1>
        <div id="post-form-container">
            <form action="/posts/create" id="new-post-form" method="POST">
                <textarea name="content" id="postContent" cols="70" rows="3" onkeyup="EnableDisable(this)"
                    placeholder="What's on your mind, <%= user.name%>?" required></textarea>
                <button type="submit" id="post-button" disabled>Share</button>
            </form>
        </div>
        <% } %>
            <div id="post-list-container">
                <h2 id="feed">Newsfeed</h2>
                <ul>
                    <% for(post of posts) { %>
                        <li>
                            <p class="user">
                                <%= post.user.name %>
                            </p>
                            <%= post.content %>
                            <% if(locals.user && locals.user.id == post.user.id) {%>
                                <small id="delete-post">
                                    <a href="/posts/destroy/<%= post.id %>">Delete Post</a>
                                </small>
                            <% } %>
                            <hr>
                            <div class="post-comments">
                                <% if(locals.user) { %>
                                    <form action="/comments/create" method="POST">
                                        <input id="comment-input" type="text" name="content" placeholder="Write a comment...."
                                            required>
                                        <input type="hidden" name="post" value="<%= post._id %>">
                                    </form>
                                <% } %>
                                <div class="post-comments-list">
                                    <ul id="post-comments-<%= post._id %>%">
                                        <% for (comment of post.comments) { %>
                                            <div id="comments-list">
                                                <p class="userComments">
                                                    <%= comment.user.name %>: 
                                                </p>
                                                <%= comment.content %>
                                                <% if(locals.user && locals.user.id == comment.user.id) {%>
                                                    <small id="delete-comment">
                                                        <a href="/comments/destroy/<%= comment.id %>">Delete</a>
                                                    </small>
                                                <% } %>
                                            </div>        
                                        <% } %>
                                    </ul>
                                </div>
                            </div>
                        </li>
                        <% } %>
                </ul>
            </div>
</section>
<script src="/js/home.js"></script>